.btn {
  width: 340px;
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
  background-color: $accent;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  letter-spacing: 2px;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;

  &--arrow::after{
    @include pseudo($pos: static);
    @include square($width: 16px);
    background-image: url("../img/icon-arrowvg.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $m-end) {
    width: 250px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
    padding: 18px 40px 16px;
  }

  @media (max-width: $s-end) {
    width: 288px;
    margin: 0 auto;
  }
}
