.card {
  display: none;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  padding-top: 80px;
  background-size: cover;

  &--active{
    display: flex;
  }

  @media (max-width: $m-end) {
    background: none;
    padding-top: 33px;

    &--active{
      display: block;
    }
  }
  @media (max-width: $s-end){
    padding-top: 25px;
  }
}

.card__layout-top {
  width: 470px;
  padding-right: 99px;
  @media (max-width: $m-end) {
    width: auto;
    padding: 0;
    margin-bottom: 30px;
  }
  @media (max-width: $s-end){
    margin-bottom: 50px;
  }
}

.card__heading {
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.245px;
  color: $indigo;
  margin-top: 0;
  padding-bottom: 17px;
  margin-bottom: 31px;
  padding-top: 10px;

  @media (max-width: $m-end) {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.2px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 21px;
  }
  @media (max-width: $s-end){
    font-size: 24px;
    line-height: 150%;
  }
}

.card__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px;
  color: rgba($dark-gray, 0.7);
  margin-top: 0;
  margin-bottom: 49px;

  @media (max-width: $m-end) {
    text-align: center;
    margin-bottom: 18px;
    padding: 0 20px;
  }
  @media (max-width: $s-end){

  }
}

.card__btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  color: $white;
  width: 250px;
  padding: 30px 39px;

  @media (max-width: $m-end) {
    margin: 0 auto;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
    padding: 19px 51px;
  }
  @media (max-width: $s-end){
    width: 288px;
    padding: 19px 70px;
  }
}

.card__layout-bottom {
  padding-right: 269px;
  position: relative;

  @media (max-width: $m-end) {
    padding-right: 0;
  }
  @media (max-width: $s-end){
    padding-bottom: 70px;
  }
}

.card__img {
  @media (max-width: $m-end) {
    width: 100%;
  }
}

.card__comment {

}
