.comment {
  position: absolute;
  z-index: 2;
  width: 382px;
  background-color: $white;
  top: 112px;
  right: -1px;
  padding: 30px;

  @media (max-width: $m-end) {
    left: 0;
    right: 0;
    margin: auto;
    top: 80px;
  }
  @media (max-width: $s-end) {
    width: 268px;
    top: 50px;
    padding: 32px 20px;
  }
}

.comment__heading {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.691667px;
  color: $indigo;
  margin-top: 0;
  padding-bottom: 13px;
  margin-bottom: 21px;
  position: relative;

  &::after{
    @include pseudo();
    @include size($width: 68px, $height: 1px);
    background-color: $accent;
    bottom: 1px;
    left: 0;
  }

  @media (max-width: $s-end) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    &:after{
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

.comment__content {
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.408333px;
  color: rgba($dark-gray, 0.7);
  margin: 0;

  @media (max-width: $s-end) {
    text-align: center;
  }
}

.comment__layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;

  @media (max-width: $s-end) {
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
  }
}

.comment__img {
  border-radius: 50%;
  margin-right: 16px;
  @media (max-width: $s-end){
    margin-right: 0;
    margin-bottom: 12px;
  }
}

.comment__author {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.466667px;
  color: $indigo;
  font-style: normal;
}
