.container {
  max-width: $large;
  min-width: $small;
  width: $large;
  margin: 0 auto;
  padding-right: 363px;
  padding-left: 363px;

  &--places {
    padding-right: 375px;
    padding-left: 375px;
  }

  &--tabs{
    padding-left: 238px;
    padding-right: 238px;
  }

  @media (max-width: $m-end) {
    width: 100%;
    padding: 0 20px;

    &--header {
      padding: 0;
    }
  }

  @media (max-width: $s-end) {
    padding: 0 15px;

    &--header {
      padding: 0;
    }
  }
}
