.container {
  max-width: $large;
  min-width: $small;
  width: $large;
  margin: 0 auto;
  padding-right: 363px;
  padding-left: 363px;

  &--places,
  &--card,
  &--tabs{
    padding-right: 375px;
    padding-left: 375px;
  }

  @media (max-width: $m-end) {
    width: 100%;
    padding: 0 20px;

    &--header {
      padding: 0;
    }
    &--card{
      padding: 0;
    }
    &--tabs{
      padding-left: 37px;
      padding-right: 0;
    }
  }

  @media (max-width: $s-end) {
    padding: 0 15px;

    &--header {
      padding: 0;
    }
    &--card{
      padding: 0;
    }
    &--tabs{
      padding-left: 15px;
      padding-right: 0;
    }
  }
}
