.email {
  display: flex;
  align-items: flex-end;

  @media (max-width: $s-end){
    justify-content: center;
  }
}

.email__svg {
  fill: transparent;
  stroke: $footer-line;
  margin-top: 5px;
  margin-right: 15px;

  .email:hover &,
  .email:focus &{
    stroke: $accent;
  }
  .email:active &{
    stroke: $hover;
  }
}

.email__short {
  display: none;

  @media (max-width: $m-end) {
    display: block;
  }
}

.email__long {
  @media (max-width: $m-end) {
    display: none;
  }
}
