.form-question {

}

.form-question__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;

  @media (max-width: $m-end) {
    margin-bottom: 20px;
  }
  @media (max-width: $s-end) {
    gap: 20px;
  }
}

.form-question__item {
  width: 269px;

  @media (max-width: $s-end) {
    width: 100%;
  }
}

.form-question__inp {
  @include size($width: 269px, $height: 50px);
  position: relative;
  padding: 16px 15px 15px 24px;
  border: 1px solid rgba($dark-gray, 0.3);
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: $dark;

  &--email {
    padding-left: 14px;
  }

  @media (max-width: $s-end) {
    width: 100%;
  }
}

.form-question__btn {
  width: 176px;
  margin: 0 auto;
  color: $white;
  padding-top: 18px;
  padding-bottom: 17px;

  @media (max-width: $m-end) {
    width: 250px;
    padding-top: 20px;
    padding-bottom: 19px;
  }
  @media (max-width: $s-end) {
    width: 288px;
  }
}
