.form-question {

}

.form-question__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
}

.form-question__item {
  width: 269px;
}

.form-question__inp {
  @include size($width: 269px, $height: 50px);
  position: relative;
  padding: 16px 15px 15px 24px;
  border: 1px solid rgba($dark-gray, 0.3);

  &--email{
    padding-left: 14px;
  }
}
.form-question__btn{
  width: 176px;
  margin: 0 auto;
  color: $white;
  padding-top: 18px;
  padding-bottom: 17px;

}
