.header {
  position: relative;
  display: flex;
  padding-top: 40px;
  padding-bottom: 29px;
  box-shadow: 0 4px 20px rgba($black, 0.1);

  @media (max-width: $m-end) {
    padding-top: 0;
    padding-bottom: 0;

    &--no-js {
      flex-direction: column;
      align-items: flex-start;
    }
    &--open {
      flex-direction: column;
      align-items: flex-start;
    }
    //justify-content: space-between;
  }
}

.header__logo {
  width: 117px;
  padding-left: 12px;

  @media (max-width: $m-end) {
    padding: 18px 20px 14px 21px;
    display: block;
    width: 85px;

    .header--open & {
      position: relative;
      z-index: 2;
    }
  }

  @media (max-width: $s-end) {
    padding: 18px 20px 14px 17px
  }
}
.header__tel{
  width: 303px;
  padding-left: 55px;
  padding-right: 23px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: right;

  @media (max-width: $m-end) {
    display: none;
  }
}
