.header {
  display: flex;
  padding-top: 40px;
  padding-bottom: 29px;
  box-shadow: 0 4px 20px rgba($black, 0.1);

  @media (max-width: $m-end) {
    padding-top: 0;
    padding-bottom: 0;

    &--no-js {
      flex-direction: column;
      align-items: flex-start;
    }
    //justify-content: space-between;
  }
}

.header__logo {
  width: 117px;
  padding-left: 12px;

  @media (max-width: $m-end) {
    padding: 18px 20px 14px 21px;
    display: block;
    width: 85px;

    .header--no-js & {
      margin-bottom: 84px;
    }
  }

  @media (max-width: $s-end) {
    padding: 18px 20px 14px 17px
  }
}

