.main__places {
  margin-bottom: 238px;

  @media (max-width: $m-end) {
    margin-bottom: 113px;
  }
  @media (max-width: $s-end) {
    margin-bottom: 41px;
  }
}

.main__price {
  margin-bottom: 137px;

  @media (max-width: $m-end) {
    margin-bottom: 125px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 53px;
  }

}
