.tabs {

}

.tabs__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 902px;
  position: relative;
  padding-bottom: 15px;

  &::after {
    @include pseudo();
    @include size($width: 100%, $height: 1px);
    background-color: rgba($dark-gray, 0.3);
    bottom: 0;
    left: 0;
  }
  //переделать
  @media (max-width: $m-end) {
    width: calc(100% - 37px);
    margin-left: 37px;
    justify-content: space-between;
  }
  @media (max-width: $s-end){
    margin-left: 15px;
    width: calc(100% - 15px);
    padding-right: 41px;
  }
}

.tabs__item {
  margin-right: 100px;
  word-break: break-word;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $m-end) {
    margin-right: 0;

    &:nth-child(n+5) {
      display: none;
    }
  }
  @media (max-width: $s-end) {
    &:nth-child(n+3) {
      display: none;
    }
  }
}

.tabs__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.415px;
  color: rgba($dark-gray, 0.3);

  &--active {
    color: $salmon;
  }


}
