.tel {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: $dark;
  display: flex;

  &::before {
    @include pseudo($pos: static);
    @include square($width: 30px);
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    margin-right: 6px;
  }

  @media (max-width: $m-end) {
    &::before {
      display: none;
    }

    &--header {
      display: none;
    }
  }

}
