.tel {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: $dark;
  display: flex;

  @media (max-width: $m-end) {

    &--header {
      display: none;
    }
  }

}

.tel__svg {
  fill: transparent;
  stroke: $dark;
  flex-shrink: 0;

  .tel--header & {
    margin-right: 7px;
  }

  .tel--price & {
    stroke: $accent;
    margin-right: 16px;
  }

  .tel--footer & {
    stroke: $footer-line;
    margin-right: 11px;
  }

  .tel:hover &,
  .tel:focus &{
    stroke: $accent;
  }

  .tel:active &{
    stroke: $hover;
  }
  @media (max-width: $m-end){
    .tel--price &{
      display: none;
    }
  }
}
