.toggle {
  display: none;

  @media (max-width: $m-end) {

    .header--closed & {
      display: block;
      @include size(72px, 50px);
      padding: 10px 21px;
      background-color: $accent;
      border: 0;

      &::before {
        @include pseudo();
        @include size(22px, 1px);
        background-color: $white;
        box-shadow: 0 7px $white, 0 13px $white;
        top: 17px;
        right: 25px;
      }
    }

    .header--no-js & {
      display: none;
    }
    .header--open & {
      display: block;
      @include size(50px, 52px);
      padding: 15px;
      background-color: $white;
      box-shadow: none;
      border: none;

      &::before,
      &::after {
        @include pseudo();
        @include size(22px, 1px);
        background-color: $light-gray;
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
  @media (max-width: $s-end) {
    .header--closed & {
      @include size($width: 58px, $height: 50px);
      padding: 15px 10px;

      &::before {
        right: 21px;
      }
    }

  }
}

