//fonts
$montserrat: "Montserrat", Arial, sans-serif;
$font: $montserrat;

//colors:
$white: #ffffff;
$light: #FBF8F8;
$salmon: #FE7865;
$peach: #F17D4B;
$indigo: #2C2E3F;
$dark: #141517;
$black: #000000;

$accent: $salmon;
$hover: $peach;

//size
$small: 320px;
$medium: 768px;
$large: 1920px;

$s-end: 767px;
$m-end: 1919px;
